* {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  font-size: 18px;
  text-align: center;
}
header {
  align-content: center;
}
nav {
  display: inline-flex;
  height: 48px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.joinUs {
  padding: 3px 8px;
  background-color: #9dc20b;
  color: white;
  border-radius: 4px;
}
h1 {
  font-family: Pacifico, arial, hel;
  font-weight: 0;
  font-style: italic;
  color: white;
  font-size: 1.4rem;
  margin-bottom: 3px;
}
h2 {
  color: white;
  font-size: 1.8rem;
}
h3 {
  font-weight: bold;
}
p {
  line-height: 1.4;
  font-size: 0.8rem;
  color: lightgray;
}

.landing {
  height: 200px;
  background-image: url("../images/banner-landingpage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 0px;
}
.container {
  display: flex;
  flex-direction: column;
}

.feature {
  margin: 16px 16px 30px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature img {
  width: 100%;
  height: auto;
}
.feature h3 {
  margin-bottom: -6px;
  color: rgb(88, 88, 88);
}
.feature p {
  font-size: 0.8rem;
  color: grey;
}
.banner-title {
  background-color: rgb(88, 88, 88);
  color: white;
  width: 100%;
}

.filters {
  display: flex;
  flex-direction: row;
}
.filters img {
  min-width: 0;
}
aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: italic;
  margin-bottom: 30px;
}
aside p {
  font-size: 24px;
  color: grey;
}

footer {
  background-color: grey;
  color: rgb(228, 228, 228);
  display: flex;
  justify-content: space-between;
  padding: 0 6px;
}
footer p {
  font-size: 10px;
}
